main{
    display: grid;
    grid-template-areas: 
    "filtro"
    "allTickets";
    grid-template-rows: auto 1fr;
}

#filters-box{
    grid-area: filtro;
    padding-bottom: 3%;
    display: grid;
}

#filters-button{
    font-size: 15px;
    display: grid;
    justify-self: center;
    color: #fff;
    background-color: #55afc699;
    padding: 0.5% 10px;
    border: 2px solid rgba(255, 255, 255, 0.671);
    border-radius: 15px;
    backdrop-filter: blur(15px);
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

#filters-button:hover{
    border: 2px solid #fff;
}

#done-button{
    grid-area: done;
    font-size: 15px;
    display: grid;
    justify-self: center;
    color: #fff;
    background-color: #55afc699;
    padding: 0.5% 10px;
    border: 2px solid rgba(255, 255, 255, 0.671);
    border-radius: 15px;
    backdrop-filter: blur(15px);
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

#done-button:hover{
    border: 2px solid #fff;
  }

#filtro{
    display: none;
    width: fit-content;
    height: fit-content;
    justify-self: center;
    background-color: #fff;
    border-radius: 15px;
    padding: 10px;
    column-gap: 15px;
    row-gap: 10px;
    grid-template-areas:
        "ticket-filter-status-title ticket-filter-agent-title ticket-filter-department-title ticket-filter-tag-title ticket-filter-tag-title"
        "ticket-filter-status ticket-filter-agent ticket-filter-department ticket-filter-tag tag-toggle"
        "done done done done done";
    grid-auto-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
}

#filtro #tag-toggle{
    grid-area: tag-toggle;
    border-radius: 15px;
    background-color:#55afc641;
    border: 2px solid rgba(255,255,255,0.5);
    color:#a4a4a5;
    cursor: pointer;
}
#filtro #tag-toggle:hover{
    border-color: #a4a4a5;
}



#filtro #ticket-filter-status-title{
    grid-area: ticket-filter-status-title;
    display: flex; /*ver como preferem*/
    color:#a4a4a5;
    justify-self: center;
}

#filtro #ticket-filter-tag-title{
    grid-area: ticket-filter-tag-title;
    display: flex; /*ver como preferem*/
    color:#a4a4a5;
    justify-self: center;
}
#filtro #ticket-filter-tag{
    grid-area: ticket-filter-tag;
    border-radius: 15px;
    background-color:#55afc641;
    border: 2px solid rgba(255,255,255,0.5);
    color:#a4a4a5;
    text-align: center;
}

#filtro #ticket-filter-tag::placeholder{
    color:#a4a4a58f;
}

#filtro #ticket-filter-agent-title{
    grid-area: ticket-filter-agent-title;
    display: flex; /*ver como preferem*/
    color:#a4a4a5;
    justify-self: center;
}

#filtro #ticket-filter-department-title{
    grid-area:ticket-filter-department-title;
    display: flex; /*ver como preferem*/
    color:#a4a4a5;
    justify-self: center;
}

#filtro select{
    font-size: 13px;
    color:#a4a4a5;
    background-color: #55afc641;
    padding: 0.5%;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 15px;
    backdrop-filter: blur(15px);
    justify-content: center;
    text-align: center;
}


#allTickets{
    margin-right: 10%;
    margin-left: 10%;
    grid-area: allTickets;
    display: grid;
    grid-template-columns: 1fr;
    gap: 35px; 
    justify-items: center;
}

.ticket-display{
    width: 100%;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;

    display: grid;
    grid-template-areas:
    "ticket-form"
    "options";
    grid-template-columns: 1fr;
    border-radius: 15px;
    border: 2px solid rgba(255,255,255,0.5);

    row-gap: 5px;
    background-color: #55b0c6;
    height: fit-content;
    
    color: #ebfcff;
}
.ticket-form {
    grid-area: ticket-form;
    display: grid;
    grid-template-areas:
    "assunto departamento"
    "textArea textArea"
    "tags tags";
    grid-template-columns: 1fr auto;
    justify-content: center;
    gap: 5px;
    background-color: #55b0c6;
    height: fit-content;
    grid-column-gap: 20px;
    color: #ebfcff;
}

.departamento{
    grid-area: departamento;
    justify-self: end;
    align-self: start;
    display: flex;
}

.departamento label{
    display: none;
}

.department{
    background-color: transparent;
    opacity: 0.7;
    color: #fff;
    border: none;
    appearance: none;
    -webkit-appearance: none;
    font-size: 17px;
    font-weight: bold;
  }

.assunto{
    grid-area: assunto;
    justify-self: start;
    display: grid;
    grid-template-areas: "icon subject";
    grid-template-columns: auto 1fr;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.assunto label{
    display: none;
}
.assunto ion-icon{
    grid-area: icon;
    font-size: 16px;
    margin-right: 8px;
}
input[type="text"] {
    width: auto;
  }

.subject[readonly]{ /*não percebo pq que isto não fica centrado verticalmente*/
    grid-area: subject;
    background-color: transparent;
    color: #fff;
    border: none;
    -webkit-appearance: none;
    font-size: 23px;
    -webkit-text-stroke: 0.5px #cbf2fa;
    text-align: start;
    align-self: center;
}

.textArea{
    display: flex;
    grid-area: textArea;
}

.textArea label{
    display: none;
}

.tickettext{
    background-color: #bed9e041;
    color: #fff;
    border: none;
    border-radius: 15px;
    appearance: none;
    -webkit-appearance: none;
    font-size: 13px;
    justify-self: start;
    padding: 1%;
    height: auto;
    width: -webkit-fill-available;
    resize: none;
}

.tagsArea{
    grid-area: tags;
    font-size: 13px;
}

.tags{
    grid-area:tags;
    display: inline-flex;
}

.tag{
    width: fit-content;
    padding: 2px 5px;
    margin-right: 5px;
    margin-left: 5px;
    background: #fff;
    border: 1px solid #55b0c6;
    border-radius: 15px;
    color: #55b0c6;
}

.tagsArea p{
    display: none;
}

.title_box, .edit, .tag-input, .tag-add{
    display: none;
}

.delete-button{
    grid-area: delete;
    justify-self: end;
}

.delete-button-submit {
    background: transparent;
    border: none;
    padding: 5px;
    color: #fff;
    font-size: 20px;

}

.delete-button:hover{
    cursor: pointer;
  }

.delete-not-hover{
    display: flex;
}

.delete-hover{
    display: none;
}

.delete-button:hover .delete-not-hover{
  display: none;
  }

 .delete-button:hover .delete-hover{
    display: flex;
    cursor: pointer;
}


#allTickets a{
    grid-area: view;
    justify-self: end;
    background: transparent;
    padding: 5px;
    color: #fff;
    font-size: 20px;
}

#allTickets a:hover{
    cursor: pointer;
    }

.view-not-hover{
    display: flex;
}

.view-hover{
    display: none;
}

#allTickets a:hover .view-not-hover{
    display: none;
}

#allTickets a:hover .view-hover{
    display: flex;
}

.options{
    grid-area: options;
    display: grid;
    grid-template-areas: 
    "filters-toggle view delete"
    "filters-container filters-container filters-container";
    grid-template-columns: 1fr auto auto;
}

.filters-toggle {
    width: fit-content;
    padding: 5px;
    color: #fff;
    font-size: 20px;
    display: flex;
    justify-self: end;
    margin-right:0;
    margin-left: auto;
}


.settings-not-hover{
    display: flex;
}

.settings-hover{
    display: none;
}

.filters-toggle:hover .settings-not-hover{
cursor: pointer;
  display: none;
  }

  .filters-toggle:hover .settings-hover{
    display: flex;
    cursor: pointer;
}


.filters-container{
    grid-area: filters-container;
    display: none;
    grid-template-areas: "priority status assign";
    grid-template-columns: 1fr auto auto;
    column-gap: 5px;
    justify-content: end;
    grid-column: 1 / span 3;
}

.priority-box {
    grid-area: priority;
    display: flex;
    justify-content: start;
}

.priority-box ion-icon{
    font-weight: bold;
    color: #fff;
}

.assign-box{
    grid-area: assign;
    display: flex;
    justify-content: end;
}

.status-box{
    grid-area: status;
    display: flex;
    justify-content: end;
}

.agent-list,.status-list{
    padding: 0px 5px;
    background: #bed9e041;
    border: 1px solid #6bdcf8;
    border-radius: 15px;
    color: #fff;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: auto;
    font-size: 13px;
}

.status-confirm, .assign-confirm{
    display: block;
    padding: 0px 5px;
    background: #bed9e041;
    border: 1px solid #6bdcf8;
    border-radius: 15px;
    color: #fff;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: auto;
    font-size: 13px;
}

.status-confirm:hover, .assign-confirm:hover{
    background: #ffffff84;
    border: 1px solid #fff;   
    cursor: pointer;
}

select option{
    text-align: center;
}

.increment-priority{
    padding: 0px 5px;
    background: #ffffff96;
    border: 1px solid #fff;
    border-radius: 15px;
    color: #55b0c6;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: auto;
    font-size: 13px;
    display: grid;
    align-content: center;
  }
  
  .decrement-priority{
    padding: 0px 5px;
    background: #ffffff96;
    border: 1px solid #fff;
    border-radius: 15px;
    color: #55b0c6;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: auto;
    font-size: 13px;
    display: grid;
    align-content: center;
  }
  
  .increment-priority:hover, .decrement-priority:hover{
    cursor: pointer;
    border-color: #55b0c6;
  }

@media screen and (max-width: 600px){
    .ticket-form{
        width: 100%; 
    }

    .ticket-display .ticket-form {
        font-size: 12px;
      }
    
      .ticket-form ion-icon {
        font-size: 14px;
      }
}

@media screen and (max-width: 480px) {
    #content-home{
        margin: 0;
     width: 100vw;
     padding: 0;
 }
    #allTickets {
        margin: 0;
        width: 100vw;
    }
    .ticket-display{
        width: 100vw;
              margin: 0;
      }
      #filters-box{
        margin: 0;
          width: 100vw;
          padding: 0;
      }
      .FAQs{
        margin: 0;
          width: 100vw;
          padding: 0;
    }
      footer {
      padding:0;
          margin: 0;
          width: 100vw;
          padding: 0;
      }
}

@media screen and (max-width: 380px) {
    #content-home{
      width: 100%;
    }
      #allTickets {
        width: 100%;
    }
    .ticket-display{
      width: 100%;
    }
    #filters-box{
        width: 100%;
    }
    .FAQs{
        width: 100%;
  }
    footer {
        width: 100%;
    }
    .ticket-form{
      margin: 0;
        width: 100%;
    }
      .tickettext{
      margin: 0;
        width: 100vw;
    }
    .textArea{
      margin:0;
      width: 100%;
    }
    .tickettext{
      width:100%;
    }
  }