body{
  color: #55b0c6;
  background-color: #c6c5c54a;
  display: grid;
  grid-template-areas:
   "header"
   "content";
   grid-template-columns: 1fr ;
   grid-template-rows: auto 1fr;
   max-width: 100em;
   margin: 0 auto;
}

.faq-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
}


#faqs_more_button{
  display: grid;
  grid-template-areas: 
  "button"
  "faqs";
  grid-template-rows: auto 1fr;
  padding-right: 10%;
  padding-left: 10%;
}


#faqs{
  grid-area: faqs;
  position: relative;
  align-items: center;
}

.faq-answer{
  display: none;
  align-content: center;
  color: #55afc6a5;
}

.faq-item{
  flex: 1 0 100%;
  position: relative;
  cursor: pointer;
  padding-bottom: 20px;
  align-items: center;
  margin-top: 2rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid #fff;
  margin-bottom: 10px;
  cursor: pointer;
  font-weight: bold;

}

.faq-item:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 50%;
  height: 3px;
  background-color: #55b0c6;
  transform: translateX(-50%);
  transition: width 0.3s ease;
}

.faq-item.active:before {
  width: 100%;
}

.faq-item h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0;
}

@media screen and (min-width: 800px) {
  .faq-item {
    flex-basis: calc(50% - 10px); /* 2 colunas */
  }
}

.faq-form {
  border-color: #55b0c6;
    display: none;
    grid-template-areas: 
    "back-button" "faq-questions" 
    "question"
    "answer"
    "text-answer"
    "submit";
    min-width: 800px;
    margin: 40px auto;
    padding: 20px;
    width: 80%;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr ;
    border-radius: 15px;
    border: 2px solid rgba(255,255,255,0.5);
    justify-content: center;
    gap: 10px;
    background-color: #fff;
    height: fit-content;
    color: #55b0c6;

}

.faq-questions{
  grid-area: faq-questions;
}

.back-button{
  grid-area: back-button;
}

#add-faq-btn {
  grid-area: button;
  display: grid;
  justify-self: end;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

#add-faq-btn ion-icon {
  font-size: 24px;
  color: #55b0c6;
}

#add-faq-btn:focus {
  outline: none;
}

@keyframes slideOutFaqsToForm {
  from {
    transform: translateX(0) translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-50vw);
    opacity: 0;
  }
}

@keyframes slideInButtons {
  from {
    transform: translateY(100vw);
    opacity: 0;
    
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.question,
.answer{
  border: 1px solid #fff;
    border-radius: 15px;
    background-color: #55b0c654;
    color: #55b0c6;
    resize: none;
}

.faq-form button{
  background-color: #fff;
  color: #55b0c6;
  border-radius: 15px;
  border: 1px solid #55b0c6;
}