body{
  background-color: #c6c5c54a;
  display: grid;
  grid-template-areas:
   "header"
   "content";
   grid-template-columns: 1fr ;
   grid-template-rows: auto 1fr;
   max-width: 100em;
   margin: 0 auto;
}

.faq-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
}

#content {
  display: flex;
  justify-content: center;
  align-items: center;
}

#faqs{
  justify-content: center;
  align-items: center;
  min-width: 800px;
}

.faq-answer{
  display: none;
  align-content: center;
}

.faq-item{
  flex: 1 0 100%;
  position: relative;
  cursor: pointer;
  padding-bottom: 20px;
  align-items: center;
  max-width: 800px;
  margin-top: 2rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid #fff;
  margin-bottom: 10px;
  cursor: pointer;
}

.faq-item:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 400px;
  height: 3px;
  background-color: #000;
  transform: translateX(-50%);
  transition: width 0.3s ease;
}

.faq-item.active:before {
  width: 800px;
}

.faq-item h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0;
}

@media screen and (min-width: 800px) {
  .faq-item {
    flex-basis: calc(50% - 10px); /* 2 colunas */
    margin-right: 10px;
  }
}