#content{
    display: grid;
    grid-template-areas: 
    "filtro"
    "allTickets";
    grid-template-rows: auto 1fr;
}

#filtro{
    grid-area: filtro;
    display: flex;
    justify-content: center;
    padding-bottom: 3%;
}
#filtro label{
    display: none; /*ver como preferem*/
    color:#a4a4a5;
}
#filtro select{
    color:#fff;
    background-color: #55afc641;
    padding: 0.5%;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 15px;
    backdrop-filter: blur(15px);
    justify-content: center;
    text-align: center;
}


#allTickets{
    grid-area: allTickets;
    display: grid;
    grid-template-columns: 1fr;
    gap: 35px; 

    justify-items: center;
}

#ticket-display{
    width: 800px;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;

    display: grid;
    grid-template-areas:
    "ticket-form"
    "options";
    grid-template-columns: 1fr;
    border-radius: 15px;
    border: 2px solid rgba(255,255,255,0.5);

    row-gap: 5px;
    background-color: #55b0c6;
    height: fit-content;

    color: #ebfcff;
}
#ticket-form {
    grid-area: ticket-form;
    display: grid;
    grid-template-areas:
    "departamento"
    "assunto"
    "msg"
    "tags";
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 5px;
    background-color: #55b0c6;
    height: fit-content;

    color: #ebfcff;
}

#departamento{
    grid-area: departamento;
    justify-self: center;
    align-self: center;
    display: flex;
}

#departamento label{
    display: none;
}

#department{
    background-color: transparent;
    color: #fff;
    border: none;
    appearance: none;
    -webkit-appearance: none;
    font-size: 23px;
    font-weight: bold;
    -webkit-text-stroke: 1px #cbf2fa;
  }

#assunto{
    grid-area: assunto;
    justify-self: start;
    display: grid;
    grid-template-areas: "icon subject";
    grid-template-columns: auto 1fr;
    align-items: center;
    justify-content: center;
}

#assunto label{
    display: none;
}
#assunto ion-icon{
    grid-area: icon;
    font-size: 21px;
    margin-right: 5px;
}

#subject[readonly]{ /*não percebo pq que isto não fica centrado verticalmente*/
    grid-area: subject;
    background-color: #55afc641;
    color: #fff;
    border: none;
    appearance: none;
    -webkit-appearance: none;
    text-decoration: underline;
    font-size: 18px;
    text-align: start;
    align-self: center;
}

#textArea{
    grid-area: msg;
}

#textArea label{
    display: none;
}

#tickettext{
    background-color: #bed9e041;
    color: #fff;
    border: none;
    border-radius: 15px;
    appearance: none;
    -webkit-appearance: none;
    font-size: 13px;
    justify-self: start;
    padding: 1%;
    height: auto;
    width: -webkit-fill-available;
    resize: none;
}

.tagsArea{
    grid-area: tags;
    font-size: 13px;
}

.tags{
    grid-area:tags;
    display: inline-flex;
}

.tag{
    width: fit-content;
    padding: 2px 5px;
    margin-right: 5px;
    margin-left: 5px;
    background: #fff;
    border: 1px solid #55b0c6;
    border-radius: 15px;
    color: #55b0c6;
}

.tagsArea p{
    display: none;
}

#title_box, #edit, .tag-input, .tag-add{
    display: none;
}

#delete-button{
    grid-area: delete;
    justify-self: end;
}

button[type="submit"] {
    background: transparent;
    border: none;
    padding: 5px;
    color: #fff;
    font-size: 20px;

}

#delete-button:hover{
    cursor: pointer;
  }

#delete-not-hover{
    display: flex;
}

#delete-hover{
    display: none;
}

#delete-button:hover #delete-not-hover{
  display: none;
  }

 #delete-button:hover #delete-hover{
    display: flex;
    }


#allTickets a{
    grid-area: view;
    justify-self: end;
    background: transparent;
    padding: 5px;
    color: #fff;
    font-size: 20px;
}

#allTickets a:hover{
    cursor: pointer;
    }

#view-not-hover{
    display: flex;
}

#view-hover{
    display: none;
}

#allTickets a:hover #view-not-hover{
    display: none;
}

#allTickets a:hover #view-hover{
    display: flex;
}

#options{
    grid-area: options;
    display: grid;
    grid-template-areas: "filters view delete";
    grid-template-columns: 1fr auto auto;
}

#filters{
    grid-area: filters;
    display: grid;
    grid-template-areas: "status assign";
    grid-template-columns: auto 1fr;
}

.assign-box{
    grid-area: assign;
    display: flex;
    justify-content: start;
}

.status-box{
    grid-area: status;
    display: flex;
    justify-content: start;
}

.agent-list,.status-list{
    justify-self: end;
    padding: 0px 5px;
    background: #cccccc61;
    border: 1px solid #cccccc61;
    border-radius: 15px;
    color: #fff;
    width: auto;
}

select option{
    text-align: center;
}
/*questões para o professor
    -ao fazer menos zoom é suposto o header contirnuar sempre do mesmo tamanho?
    -como fazer que o content não se mova com o abrir da lateral
    -os problemas com o footer
    -na pagina do loggin como mudo os tamanhos para que o faq e o footer também não se mexam
    -bug na página dos open_tickets, href está em tudo e não só na caixa.
    -como colocar os icons logo seguidos do texto?

*/