@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
}


html,body{
  min-height: 100vh;
}
body{
  background-color: #55b0c6;
  display: grid;
  grid-template-areas:
   "header"
   "nav"
   "content"
   "faqs"
   "footer";
   grid-template-columns: 1fr;
   grid-template-rows: auto auto 1fr auto;
   max-width: 100em;
   margin: 0 auto;
}

/* header */
header{
  grid-area: header;
  background-color: #e8e9e9;
  border-bottom-right-radius: 90px;
}

/*dentro do drawHeader*/
#not-logged-in > #drawHeader{
  display: grid;
  grid-template-areas:
  "title title profile-or-logout";
  grid-template-columns: 1fr 1fr 1fr;
}

#not-logged-in > #drawHeader > #title{  
  grid-area: title;
  display: flex;
  justify-content: start;
  align-items: start;
  color: #55b0c6;
  padding: 3%;
  text-shadow: 2px 2px 8px #88d9e9;
  text-stroke: 1px #408697;
  font-size: 2.5em;
}

#logged-in > #drawHeader{
  display: grid;
  grid-template-areas:
  "subtitle title profile-or-logout";
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px;
}

#logged-in > #drawHeader > #title{  
    grid-area: title;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #55b0c6;
    font-size: 100%;
    padding: 3%;
    text-shadow: 2px 2px 8px #7dc5d5;
    -webkit-text-stroke: 1px #5cc1da;
    font-size: 2vw;
    height: 46px;

}

#logged-in > #drawHeader > #home-or-subtitle{
  display: grid;
  grid-area: subtitle;
  grid-template-areas: "subtitle";
  grid-template-columns: 1fr;
}

#logged-in > #drawHeader > #home-or-subtitle > #subtitle{
    grid-area: subtitle;
    display: flex;
    justify-content: center;
    padding-left: 0%;
    color: #55b0c6;
    display: grid;
    text-stroke: 1px #f6f6f6;
    align-self: center;
    
}

#drawHeader > #profile-or-logout{
  grid-area: profile-or-logout;
  display: grid;
  grid-template-areas: "profile logout";
  grid-template-columns: 1fr auto;
}

#profile-or-logout > .profile-box{
    grid-area: profile;
    display: flex;
    align-self: center;
    color: #55b0c6;
    font-size: 27px;
    background-color: transparent;
    border: none;
    justify-self: end;
    margin-right: 8vw;
}

#profile-button-hover{
  display: none;
}
.profile-box:hover #profile-button-hover{
  display: flex;
}

.profile-box #profile-button{
  display: flex;
}

.profile-box:hover #profile-button{
  display: none;
}

#profile-or-logout > .logout-box{
    grid-area: logout;
    border: none;
    display: flex;
    color: #55b0c6;
    font-size: 27px;
    background: transparent;
    align-self: center;
    margin-right: 7vw;

  }
  
  #profile-or-logout > .logout-box:hover{
    cursor: pointer;
  }

.logout-box > #logout-icon-hover{
  display: none;
  }

 .logout-box:hover > #logout-icon{
  display: none;
  }

.logout-box:hover > #logout-icon-hover{
  display: flex;
  }

#home {
  display: none;
}

.message-category {
  color: #55b0c6;
  opacity: 0; /* Inicia com opacidade 0 para estar oculto */
  transform: translateY(100%); /* Desloca o elemento para baixo */
  transition: transform 3s ease, opacity 3s ease; /* Define a transição para transform e opacidade */
}

.message-category.show {
  opacity: 1; /* Define a opacidade 1 para mostrar o elemento */
  transform: translateY(0%); /* Desloca o elemento de volta para a posição inicial */
}

.message-category.hide {
  opacity: 0; /* Define a opacidade 0 para ocultar o elemento */
  transform: translateY(100%); /* Desloca o elemento para baixo novamente */
}

/* content */

#content-home{
  display: grid;
  grid-area: content;
  grid-template-areas: 
  "login"
  "singup"
  "allTickets";
  justify-content: center;
  align-content: center; 
  margin-top: 30px;
}


#content-home h2{
  font-size: 2em;
  color: #55b0c6;
  text-align: center;
}

#login-box-animated::before{
  content: '';
  position: absolute;
  width: 302px;
  height: 340px;
  top:-50%;
  left: -50%;
  background: linear-gradient(0deg,transparent,transparent,#9fecfb,#9fecfb,#9fecfb);
  z-index: 1;
  animation: animate-arround 6s linear infinite;
  transform-origin: bottom right;
}

#login-box-animated::after{
  content: '';
  position: absolute;
  width: 302px;
  height: 340px;
  top:-50%;
  left: -50%;
  background: linear-gradient(0deg,transparent,transparent,#9fecfb,#9fecfb,#9fecfb);
  z-index: 1;
  animation: animate-arround 6s linear infinite;
  transform-origin: bottom right;
  animation-delay: -3s;
}

@keyframes animate-arround{
0%
{
transform: rotate(0deg) ;
}
100%{
transform: rotate(360deg);
}
}

#login-box-animated{
  width: 310px;
  height: 348px;
  overflow: hidden;
  position: relative;
  display: grid;
  justify-content: center;
  align-content: center;
  border-radius: 15px;
}

.form-box-login{
  grid-area: login;
  justify-self: center;
  width: 300px;
  height: 340px;
  background: #e8e9e9;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  z-index: 2;
  align-self: center;
}

#signup-box-animated::before{
  content: '';
  position: absolute;
  width: 314px;
  height: 460px;
  top:-50%;
  left: -50%;
  background: linear-gradient(0deg,transparent,transparent,#9fecfb,#9fecfb,#9fecfb);
  z-index: 1;
  animation: animate-arround 6s linear infinite;
  transform-origin: bottom right;
}

#signup-box-animated::after{
  content: '';
  position: absolute;
  width: 314px;
  height: 460px;
  top:-50%;
  left: -50%;
  background: linear-gradient(0deg,transparent,transparent,#9fecfb,#9fecfb,#9fecfb);
  z-index: 1;
  animation: animate-arround 6s linear infinite;
  transform-origin: bottom right;
  animation-delay: -3s;
}

#signup-box-animated{
  display: none;
  width: 310px;
  height: 458px;
  overflow: hidden;
  position: relative;
  display: grid;
  justify-content: center;
  align-content: center;
  border-radius: 15px;
}

.form-box-signup{
  grid-area: signup;
  display: none;
  justify-self: center;
  width: 300px;
  height: 450px;
  background: #e8e9e9;
  border-radius: 15px;
  backdrop-filter: blur(15px);
  justify-content: center;
  align-items: center;
  z-index: 2;
  align-self: center;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100vw);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slideOutLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100vw);
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slideOutRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100vw);
  }
}

@keyframes slideOutLoginToLogout {
  from {
    transform: translateX(0) translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-50vw);
    opacity: 0;
  }
}

@keyframes slideInLogout {
  from {
    transform: translateY(-30vw);
    opacity: 0;
    
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInButtons {
  from {
    transform: translateY(100vw);
    opacity: 0;
    
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideOutButtons {
  from {
    transform: translateY(0vw);
    opacity: 1;
    
  }
  to {
    transform: translateY(100vw);
    opacity: 0;
  }
}

.slideInLeft {
  animation-name: slideInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

.slideInRight {
  animation-name: slideInRight;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

.slideOutLoginToLogout{
animation-name: slideOutLoginToLogout;
animation-timing-function: ease-in-out;
animation-fill-mode: forwards;
}

.slideInLogout{
animation-name: slideInLogout;
animation-duration: 2s;
animation-timing-function: ease-in-out;
animation-fill-mode: forwards;
}

.slideInButtons{
  animation-name: slideInButtons;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}

.slideOutButtons{
  animation-name: slideOutButtons;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}

.inputbox{
    position: relative;
    margin: 23px 0;
    width: 233px;
    border-bottom: 2px solid #55b0c6;
}
.inputbox label{
    position: absolute;
    top: 50%;
    left: 4px;
    transform: translateY(-50%);
    color: #55b0c6;
    font-size: 0.75em;
    pointer-events: none;
    transition: .4s;
}
input:focus ~ label,
input:valid ~ label{
top: -4px;
}
.inputbox input {
    width: 100%;
    height: 38px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 0.75em;
    padding:0 27px 0 4px;
    color: #55b0c6;
}
.inputbox ion-icon{
    position: absolute;
    right: 6px;
    color: #55b0c6;
    font-size: 1em;
    top: 15px;
}

.submit-login {
  width: 100%;
  height: 30px;
  border: 2px solid #55b0c6;
  border-radius: 30px;
  backdrop-filter: blur(15px);
  background: transparent;
  font-size: 0.75em;
  font-weight: 450;
  cursor: pointer;
  color:#55b0c6;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #55b0c6;
}

.submit-login:hover {
  border-color: #88d9e9;
  color: #88d9e9; 
}

.submit-signup {
  width: 100%;
  height: 30px;
  border: 2px solid #55b0c6;
  border-radius: 30px;
  backdrop-filter: blur(15px);
  background: transparent;
  font-size: 0.75em;
  font-weight: 450;
  cursor:pointer;
  color:#55b0c6;
}

.submit-signup:hover {
  border-color: #88d9e9;
  color: #88d9e9; 
}

.Reg-forget,.Enter{
  margin: -11px 0 11px;
  font-size: 0.75em;
  display: flex;
  color: #55b0c6;
  justify-content: space-between;
  align-items: center;
  margin: 0.5%;
  bottom: 0;
  width: 100%;
}
.Reg-forget p {
  margin: 0; 
}

.forget{
  margin-left: 0.5%;
}

a{
  color: #55b0c6;
  text-decoration: none;
}
.forget a:hover{
  border-color: #88d9e9;
  color: #88d9e9; 
  text-decoration: underline;
}

#Register-button{
  margin-right: 0.5%;
}

#Register-button:hover, #login-button:hover {
  color: #88d9e9;
  cursor: pointer;
}

#allTickets{
  margin-right: 10%;
  margin-left: 10%;
  grid-area: allTickets;
  display: grid;
  grid-template-columns: 1fr;
  gap: 35px; 
  justify-items: center;
}

#allTickets p{
  justify-self: start;
  color: #fff;
}

#no_tickets{
  justify-self: center;
  color: #ffffff88;
  font-size: 30px;
  align-self: start;
}
.ticket-display{
  width: 100%;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;

  display: grid;
  grid-template-areas:
  "ticket-form"
  "options";
  grid-template-columns: 1fr;
  border-radius: 15px;
  border: 2px solid rgba(255,255,255,0.5);

  row-gap: 5px;
  background-color: #e8e9e9;
  height: fit-content;

  color: #55b0c6;
}
.ticket-form {
  grid-area: ticket-form;
  display: grid;
  grid-template-areas:
  "assunto departamento"
  "textArea textArea"
  "tags tags";
  grid-template-columns: 1fr auto;
  justify-content: center;
  gap: 5px;
  background-color: #e8e9e9;
  height: fit-content;
  grid-column-gap: 20px;
  color: #55b0c6;
}

.departamento{
  grid-area: departamento;
  justify-self: end;
  align-self: start;
  display: flex;
}

.departamento label{
  display: none;
}

.department{
  background-color: transparent;
  opacity: 0.7;
  color: #55b0c6;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  font-size: 17px;
  font-weight: bold;
}

.assunto{
  grid-area: assunto;
  justify-self: start;
  display: grid;
  grid-template-areas: "icon subject";
  grid-template-columns: auto 1fr;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.assunto label{
  display: none;
}
.assunto ion-icon{
  grid-area: icon;
  font-size: 16px;
  margin-right: 8px;
}
input[type="text"] {
  width: auto;
}

.subject[readonly]{ /*não percebo pq que isto não fica centrado verticalmente*/
  grid-area: subject;
  background-color: transparent;
  color: #55b0c6;
  border: none;
  -webkit-appearance: none;
  font-size: 23px;
  -webkit-text-stroke: 0.5px #5cc1da;
  text-align: start;
  align-self: center;
}

.textArea{
  display: flex;
  grid-area: textArea;
}

.textArea label{
  display: none;
}

.tickettext{
  background-color: #ffffff96;
  color: #55b0c6;
  border: none;
  border-radius: 15px;
  appearance: none;
  -webkit-appearance: none;
  font-size: 13px;
  justify-self: start;
  padding: 1%;
  height: auto;
  width: -webkit-fill-available;
  resize: none;
}

.tagsArea{
  grid-area: tags;
  font-size: 13px;
}

.tags{
  grid-area:tags;
  display: inline-flex;
}

.tag{
  width: fit-content;
  padding: 2px 5px;
  margin-right: 5px;
  margin-left: 5px;
  background: #55b0c6;
  border: 1px solid #e8e9e9;
  border-radius: 15px;
  color: #55b0c6;
}

.tagsArea p{
  display: none;
}

.title_box, .edit, .tag-input, .tag-add{
  display: none;
}

.delete-button{
  grid-area: delete;
  justify-self: end;
}

.delete-button-submit {
  background: transparent;
  border: none;
  padding: 5px;
  color: #55b0c6;
  font-size: 20px;

}

.delete-button:hover{
  cursor: pointer;
}

.delete-not-hover{
  display: flex;
}

.delete-hover{
  display: none;
}

.delete-button:hover #delete-not-hover{
display: none;
}

.delete-button:hover #delete-hover{
  display: flex;
  cursor: pointer;
}


#allTickets a{
  grid-area: view;
  justify-self: end;
  background: transparent;
  padding: 5px;
  color: #55b0c6;
  font-size: 20px;
}

#allTickets a:hover{
  cursor: pointer;
  }

.view-not-hover{
  display: flex;
}

.view-hover{
  display: none;
}

#allTickets a:hover .view-not-hover{
  display: none;
}

#allTickets a:hover .view-hover{
  display: flex;
}

.options{
  grid-area: options;
  display: grid;
  grid-template-areas: 
  "filters-toggle view delete"
  "filters-container filters-container filters-container";
  grid-template-columns: 1fr auto auto;
}

.filters-toggle {
  width: fit-content;
  padding: 5px;
  color: #55b0c6;
  font-size: 20px;
  display: flex;
  justify-self: end;
  margin-right:0;
  margin-left: auto;
}


.settings-not-hover{
  display: flex;
}

.settings-hover{
  display: none;
}

.filters-toggle:hover .settings-not-hover{
cursor: pointer;
display: none;
}

.filters-toggle:hover .settings-hover{
  display: flex;
  cursor: pointer;
}


.filters-container{
  grid-area: filters-container;
  display: none;
  grid-template-areas: "priority status assign";
  grid-template-columns: 1fr auto auto;
  column-gap: 5px;
  justify-content: end;
  grid-column: 1 / span 3;
}

.assign-box{
  grid-area: assign;
  display: flex;
  justify-content: end;
}

.status-box{
  grid-area: status;
  display: flex;
  justify-content: end;
}

.priority-box{
  grid-area: priority;
  display: flex;
  justify-content: start;
}

.priority-box ion-icon{
  font-weight: bold;
  color: #fff;
}

.agent-list,.status-list{
  padding: 0px 5px;
  background: #ffffff96;
  border: 1px solid #fff;
  border-radius: 15px;
  color: #55b0c6;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: auto;
  font-size: 13px;
}

.increment-priority{
  padding: 0px 5px;
  background: #ffffff96;
  border: 1px solid #fff;
  border-radius: 15px;
  color: #55b0c6;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: auto;
  font-size: 13px;
  display: grid;
  align-content: center;
}

.decrement-priority{
  padding: 0px 5px;
  background: #ffffff96;
  border: 1px solid #fff;
  border-radius: 15px;
  color: #55b0c6;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  width: auto;
  font-size: 13px;
  display: grid;
  align-content: center;
}

.increment-priority:hover, .decrement-priority:hover{
  cursor: pointer;
  border-color: #55b0c6;
}

/*
.increment-priority, .decrement-priority{
  padding: 0px 5px;
  background: #ffffff96;
  border: 1px solid #fff;
  border-radius: 15px;
  color: #55b0c6;
  width: auto;
  font-size: 13px;
}
*/
.status-confirm, .assign-confirm{
  display: block;
  padding: 0px 5px;
  background: #ffffff96;
  border: 1px solid #fff;
  border-radius: 15px;
  color: #55b0c6;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  width: auto;
  font-size: 13px;
}

.status-confirm:hover, .assign-confirm:hover{
  background: #ffffff84;
  border: 1px solid #55afc6d0;   
  cursor: pointer;
}

select option{
  text-align: center;
}

/*fim*/

/* faqs */


.FAQs{
  grid-area: faqs;
  display: grid;
  grid-template-areas: 
  "icon" 
  "h6";
  align-items: end;
  justify-content: end;
  padding-right: 10%;
  color: #e8e9e9;
}

#faqs-icon:hover, #faqs-icon:hover + h6, h6:hover{
  color: #fff;
  cursor: pointer;
}

#faqs-icon{
  grid-area: icon;
  font-size: 65px;
}

h6{
  grid-area: h6;
  justify-self: center;
  font-size: 15px;

}


/*footer*/

footer{
  display: grid;
  justify-self: center;
  grid-area: footer;
  color: #f6f6f67d;
}

footer p{
  font-size: 15px;
}


/* Menu Bar */ /*igual ao do geralStyle*/

nav {
  color: #55b0c6;
  grid-area: nav;
  background-color: #e8e9e9;
  transition: .2s;
  width: fit-content;
  position: static;
  display: inline-grid;
  justify-content: space-between;
  align-items: center;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  justify-self: center;
  border-top-style: hidden;
  min-height: 100%;
}

ul{
  display: flex; 
  list-style: none; 
  margin: 0; 
  padding: 0; 
  align-items: center;
}

ul li.item-menu {
  flex: 1;
  text-align: center; 
}

ul li.item-menu:hover{
  background: #55afc641;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  transition: 200ms cubic-bezier(1, 0.49, 0.09, 0.09);
}

nav{
  display: flex; 
}

nav .txt-link{
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
  width: auto;
}

nav:hover .item-menu .txt-link{
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease-in-out;
  width: auto;
  display: flex;
}


.icon{
  font-size: 30px;
}

.item-menu a {
  display: grid;
  align-items: center;
  justify-content: center; 
  height: fit-content; 
}

.item-menu a span {  /*esta parte não está a funcionar como devido*/
  white-space: nowrap;
  padding: 10px;
  color: #55b0c6;
}

.item-menu{
 /* margin-bottom: 25px;*/
}

a{
 text-decoration: none; 
}


/*resposive design*/

@media screen and (max-width: 800px) {

  #not-logged-in > #drawHeader {
    display: grid;
    grid-template-areas: "title";
    grid-template-columns: 1fr;
}

  #not-logged-in > #drawHeader > #title{
    font-size: 6vw;

  }

  #logged-in > #drawHeader {
    display: grid;
    grid-template-areas: "subtitle title profile-or-logout";
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;
}
  #drawHeader > #title{
    font-size: 2vw;
  }

  #logged-in > #drawHeader > #home-or-subtitle > #subtitle{
    font-size: 3vw;
  }
  #profile-or-logout > .profile-box{
    font-size: 4.5vw;
    margin-right: 6vw;
  }
  #profile-or-logout > .logout-box{
    font-size: 4.5vw;
    margin-right: 3vw;
  }
  .ticket-display {
    width: 100%;
  }
}

