/*dentro do profile*/

.form-box-profile{
    color: #f6f6f6;
    display: grid;
    grid-template:
    "edit"
    "image"
    "name"
    "email"
    "type";
    grid-template-rows: auto 1fr auto auto ;
    width: 290px; 
    height:470px;
    background: #55b0c6;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 15px;
    justify-content: inherit;
    align-items: center;
    justify-self: center;
    align-content: center;
    padding: 17px;
    padding-bottom: 25px;
}

.form-box-edit-profile{
    color: #f6f6f6;
    display: grid;
    grid-template:
    "back"
    "image"
    "name"
    "email"
    "old-pass"
    "new-pass"    
    "save";
    grid-template-rows: auto auto auto auto auto auto auto 1fr;
    background-color: rgba(0,0,0,0.5);
    width: 290px; 
    height:470px;
    background: #55b0c6;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 15px;
    justify-content: inherit;
    align-items: center;
    justify-self: center;
    align-content: center;
    padding: 17px;
    padding-bottom: 25px;
}

#save{
    margin-bottom: 23px;
    cursor: pointer;
    border-color: #fff;
    /*color: ;*/
}

#save:hover{
    border-color: #fff;
    cursor: pointer;
}

#profile-edit{
    display: none;
    position: grid;
}

.edit{
    display: grid;
    justify-content: end;
    cursor: pointer;
}

#edit{
    display: grid;
    grid-area: edit;
    justify-content: end;
    align-self: start;
    font-size: 20px;
}

#edit ion-icon{
    cursor: pointer;
}

#back{
    grid-area: back;
    display: grid;
    font-size: 25px;
    justify-content: end;
}

#back ion-icon{
    cursor: pointer;
}



.form-box-edit-profile .image {
    padding-top: 0;
    padding-bottom: 8%;
    grid-area: image;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    margin: 0%;
    padding: 10%;
}

.form-box-profile .image {
    grid-area: image;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    margin: 0%;
}
.form-box-profile .image ion-icon {
    font-size: 200px;
}

.image ion-icon{
    font-size: 100px;
    align-self: center;
    justify-self: center;
}

.name{
    grid-area: name;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
}

#profile-edit .name{
    grid-area: name;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
}


.email{
    grid-area: email;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
}

#type{
    grid-area: type;
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
}

#save{
    grid-area: save;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    
}


.submit-update{
    width: fit-content;
    height: fit-content;
    display: flex;
    color: #e8e9e9;
    background: transparent;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 23px;
    backdrop-filter: blur(15px);
    padding: 2% 5%;
    font-size: 14px;
    justify-content: center;
    cursor: pointer;
}

.submit-update:hover{
    color: #fff;
    border-color: #fff;
}

#username{
    padding: 8px;
    font-size: 14px;
    border: 2px solid rgba(255, 255, 255, 0.498);
    border-radius: 15px;
    width: 100%;
    box-sizing: border-box;
    background-color: #ffffffe9;
    margin-bottom: 23px;
    text-align: center;
}

#profile-edit #username {
    padding: 8px;
    font-size: 14px;
    border-radius: 15px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 23px;
    text-align: center;
    background-color: #bed9e041;
    border: 2px solid #bed9e041;
    color: #fff;
}


#email-text{
    padding: 8px;
    font-size: 14px;
    border: 2px solid rgba(255, 255, 255, 0.498);
    border-radius: 15px;
    width: 100%;
    box-sizing: border-box;
    background-color: #ffffffe9;
}

#profile-edit #email-text {
    padding: 8px;
    font-size: 14px;
    border-radius: 15px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 23px;
    text-align: center;
    background-color: #bed9e041;
    border: 2px solid #bed9e041;
    color: #fff;
}

#old-password-text{
    grid-area: old-pass;
    padding: 8px;
    font-size: 14px;
    border-radius: 15px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 23px;
    text-align: center;
    background-color: #bed9e041;
    border: 2px solid #bed9e041;
    color: #fff; 
  }

#new-password-text{
    grid-area: new-pass;
    padding: 8px;
    font-size: 14px;
    border-radius: 15px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 23px;
    text-align: center;
    background-color: #bed9e041;
    border: 2px solid #bed9e041;
    color: #fff; 
  }

  #old-password-text::placeholder, #new-password-text::placeholder {
    color: #ffffffa2;
  }



.rotate-in {
    animation-name: rotateIn;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }
  
  .rotate-out {
    animation-name: rotateOut;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }
  
  @keyframes rotateIn {
    from {
      transform: rotateY(-90deg);
      opacity: 0;
    }
    to {
      transform: rotateY(0deg);
      opacity: 1;
    }
  }
  

  @keyframes rotateOut {
    from {
      transform: rotateY(0deg);
      opacity: 1;
    }
    to {
      transform: rotateY(90deg);
      opacity: 0;
    }
  }
