main{
    margin-right: 25%;
    margin-left: 25%;
}

.ticket-form {   /* o ticket-container é usado várias vezes quando se fala de tickets*/
    max-width: 100%;
    padding: 20px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;

    display: grid;
    grid-template-areas:
    "title_box title_box"
    "departamento assunto"
    "textArea textArea"
    "tagsArea tagsArea"
    "options options"
    "enviar enviar";
    grid-template-columns: 1fr 1fr;
    border-radius: 15px;
    border: 2px solid rgba(255,255,255,0.5);

    justify-content: center;
    gap: 10px;
    background-color: #55b0c6;
    height: fit-content;

    color: #ebfcff;
}

.ticket-form > .title_box{
    grid-area: title_box;
}

.ticket-form > .departamento{
    grid-area: departamento;
}

.ticket-form > .assunto{
    grid-area: assunto;
}

.ticket-form > .textArea{
    grid-area: textArea;
}

.ticket-form label {
    font-size: 0.85em;
    max-width: 100%;
}

.ticket-form .tickettext,
.ticket-form .subject,
.ticket-form .department{
    padding: 8px;
    font-size: 14px;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 15px;
    width: 100%;
    box-sizing: border-box;
    color: #55b0c6;
}

.tickettext{
    border: 2px solid rgba(255,255,255,0.5);
    resize: none;
}

.tagsArea{
    grid-area: tagsArea;
    display: grid;
    grid-template-areas:
    "titletags titletags"
    "tags tags"
    "lista adicionar";
    grid-template-columns: auto 1fr;
    font-size: 13px;
    gap:6px;
}

.tagsArea p{
    grid-area: titletags;
    padding-bottom: 4px;
}
.tags{
    grid-area:tags;
    display: inline-flex;
}

.tag{
    width: fit-content;
    padding: 5px;
    margin-right: 5px;
    margin-left: 5px;
    background: #fff;
    border: 1px solid #55b0c6;
    border-radius: 15px;
    color: #55b0c6;
}

.tag-add{
    grid-area:adicionar;
    width: fit-content;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 15px;
    padding-right: 5px;
    padding-left: 5px;
    color: #fff;
    cursor: pointer;
}

.tag-delete:hover {
    cursor: pointer;
    color: RED;
}


.tag-input{
    grid-area:lista;
    width: fit-content;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 15px;
    margin-left: 5px;
    color: #fff;
    padding-right: 5px;
    padding-left: 5px;
}

.ticket-form > .enviar{
    grid-area: enviar;
    padding: 10px 20px; 
    font-size: 10px;
    cursor: pointer;
    backdrop-filter: blur(15px);
    position: relative;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    color:#ebfcff;
}

.ticket-form > .enviar:hover {
    border-color: rgba(255,255,255,0.5);
    color: rgba(255,255,255,0.5); 
}

.options{
    grid-area: options;
    display: grid;
    grid-template-areas: 
    "filters-toggle view delete"
    "filters-container filters-container filters-container";
    grid-template-columns: 1fr auto auto;
}

.filters-toggle {
    width: fit-content;
    padding: 5px;
    color: #fff;
    font-size: 20px;
    display: flex;
    justify-self: end;
    margin-right:0;
    margin-left: auto;
}


.settings-not-hover{
    display: flex;
}

.settings-hover{
    display: none;
}

.filters-toggle:hover .settings-not-hover{
cursor: pointer;
  display: none;
  }

  .filters-toggle:hover .settings-hover{
    display: flex;
    cursor: pointer;
}


.filters-container{
    grid-area: filters-container;
    display: none;
    grid-template-areas: "priority status assign";
    grid-template-columns: 1fr auto auto;
    column-gap: 5px;
    justify-content: end;
    grid-column: 1 / span 3;
}

.assign-box{
    grid-area: assign;
    display: flex;
    justify-content: end;
}

.status-box{
    grid-area: status;
    display: flex;
    justify-content: end;
}

.agent-list,.status-list{
    padding: 0px 5px;
    background: #bed9e041;
    border: 1px solid #6bdcf8;
    border-radius: 15px;
    color: #fff;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: auto;
    font-size: 13px;
}

.status-confirm, .assign-confirm{
    display: block;
    padding: 0px 5px;
    background: #bed9e041;
    border: 1px solid #6bdcf8;
    border-radius: 15px;
    color: #fff;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: auto;
    font-size: 13px;
}

.status-confirm:hover, .assign-confirm:hover{
    background: #ffffff84;
    border: 1px solid #fff;   
    cursor: pointer;
}

select option{
    text-align: start;
}

.increment-priority{
    padding: 0px 5px;
    background: #ffffff96;
    border: 1px solid #fff;
    border-radius: 15px;
    color: #55b0c6;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: auto;
    font-size: 13px;
    display: grid;
    align-content: center;
  }
  
  .decrement-priority{
    padding: 0px 5px;
    background: #ffffff96;
    border: 1px solid #fff;
    border-radius: 15px;
    color: #55b0c6;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: auto;
    font-size: 13px;
    display: grid;
    align-content: center;
  }
  
  .increment-priority:hover, .decrement-priority:hover{
    cursor: pointer;
    border-color: #55b0c6;
  }

  @media screen and (max-width: 720px) {
    main {
        margin-left: 10%;
        margin-right: 10%;
    }
}
  @media screen and (max-width: 530px) {
    main {
        margin-left: 0;
        margin-right: 0;
    }
}
