a{
    text-decoration: none;
    color: inherit;
    outline: none;
}
main{
    grid-area: content;
    display: grid;
    margin-top: 0;
    grid-template-areas:
    "nav     "
"ticket  " 
"message   " 
"addmessage" ;
}

.ticket-display{

    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;

    display: grid;
    grid-template-areas:
    "ticket-form"
    "options";
    grid-template-columns: 1fr;
    border-radius: 15px;
    border: 2px solid rgba(255,255,255,0.5);

    gap: 10px;
    background-color: #55b0c6;
    height: fit-content;

    color: #ebfcff;
}


.ticket-form {
    grid-area: ticket-form;
    display: grid;
    grid-template-areas:
    "edit edit"
    "departamento assunto"
    "textArea textArea"
    "tags tags"
    "tagsArea tagsArea"
    "enviar enviar";

    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 5px;
    background-color: #55b0c6;
    height: fit-content;
    grid-column-gap: 20px;
    color: #ebfcff;
}
/*
.ticket-form {   
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;

    display: grid;
    grid-template-areas:
    "delete edit"
    "departamento assunto"
    "textArea textArea"
    "tagsArea tagsArea"
    "enviar enviar"
    ;
    grid-template-columns: 1fr 1fr;
    border-radius: 15px;
    border: 2px solid rgba(255,255,255,0.5);

    justify-content: center;
    gap: 10px;
    background-color: #55b0c6;
    height: fit-content;

    color: #ebfcff;
}
*/
.ticket-form > .title_box{
    grid-area: title_box;
    display: none;
}

.ticket-form > .edit{
    grid-area: edit;
    justify-self: end;
}

.edit-not-hover{
    display: flex;
}

.edit-hover{
    display: none;
}

.edit:hover .edit-not-hover{
    display: none;
}

.edit:hover .edit-hover{
    display: flex;
}

.ticket-form > .departamento{
    grid-area: departamento;
}

.ticket-form > .assunto{
    grid-area: assunto;
}

.ticket-form > .textArea{
    grid-area: textArea;
}

.ticket-form label {
    font-size: 0.85em;
    max-width: 100%;
}

.ticket-form .tickettext,
.ticket-form .subject,
.ticket-form .department{
    padding: 8px;
    font-size: 14px;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 15px;
    width: 100%;
    box-sizing: border-box;
    color: #55b0c6;
}

.tickettext{
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 15px;
}


.tagsArea{
    grid-area: tagsArea;
    display: grid;
    grid-template-areas:
    "titletags titletags"
    "tags tags"
    "lista adicionar";
    grid-template-columns: auto 1fr;
    font-size: 13px;
    gap:6px;
}

.tagsArea p{
    grid-area: titletags;
    padding-bottom: 4px;
}
.tags{
    grid-area:tags;
    display: inline-flex;
}

.tag{
    width: fit-content;
    padding: 5px;
    margin-right: 5px;
    margin-left: 5px;
    background: #fff;
    border: 1px solid #55b0c6;
    border-radius: 15px;
    color: #55b0c6;
}

.tag-add{
    grid-area:adicionar;
    width: fit-content;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 15px;
    padding-right: 5px;
    padding-left: 5px;
    color: #fff;
    cursor: pointer;
}
.tag-delete{
    cursor: pointer;
    background-color: #ffffff79;
}

.tag-input{
    grid-area:lista;
    width: fit-content;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 15px;
    margin-left: 5px;
    color: #fff;
    padding-right: 5px;
    padding-left: 5px;
}


.ticket-form > .enviar{
    grid-area: enviar;
    padding: 10px 20px; 
    font-size: 10px;
    cursor: pointer;
    backdrop-filter: blur(15px);
    position: relative;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    color:#ebfcff;
}

.ticket-form > .enviar:hover {
    border-color: rgba(255,255,255,0.5);
    color: rgba(255,255,255,0.5); 
}

.delete-button{
    grid-area: delete;
    justify-self: start;
    cursor: pointer;
}

button[type="submit"] {
    background: transparent;
    border: none;
    padding: 5px;
    color: #fff;
    font-size: 20px;

}

.delete-button:hover{
    cursor: pointer;
  }

.delete-not-hover{
    display: flex;
}

.delete-hover{
    display: none;
    cursor: pointer;
}

.delete-button:hover .delete-not-hover{
  display: none;
  }

 .delete-button:hover .delete-hover{
    display: flex;
    }



.options{
    grid-area: options;
    display: grid;
    grid-template-areas: 
    "filters-toggle view delete"
    "filters-container filters-container filters-container";
    grid-template-columns: 1fr auto auto;
}

.filters-toggle {
    width: fit-content;
    padding: 5px;
    color: #fff;
    font-size: 20px;
    display: flex;
    justify-self: end;
    margin-right:0;
    margin-left: auto;
}


.settings-not-hover{
    display: flex;
}

.settings-hover{
    display: none;
}

.filters-toggle:hover .settings-not-hover{
cursor: pointer;
  display: none;
  }

  .filters-toggle:hover .settings-hover{
    display: flex;
    cursor: pointer;
}


.filters-container{
    grid-area: filters-container;
    display: none;
    grid-template-areas: "priority status assign";
    grid-template-columns: 1fr auto auto;
    column-gap: 5px;
    justify-content: end;
    grid-column: 1 / span 3;
}

.priority-box {
    grid-area: priority;
    display: flex;
    justify-content: start;
}

.priority-box ion-icon{
    font-weight: bold;
    color: #fff;
}

.assign-box{
    grid-area: assign;
    display: flex;
    justify-content: end;
}

.status-box{
    grid-area: status;
    display: flex;
    justify-content: end;
}

.agent-list,.status-list{
    padding: 0px 5px;
    background: #bed9e041;
    border: 1px solid #6bdcf8;
    border-radius: 15px;
    color: #fff;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: auto;
    font-size: 13px;
}

.status-confirm, .assign-confirm{
    display: block;
    padding: 0px 5px;
    background: #bed9e041;
    border: 1px solid #6bdcf8;
    border-radius: 15px;
    color: #fff;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: auto;
    font-size: 13px;
}

.status-confirm:hover, .assign-confirm:hover{
    background: #ffffff84;
    border: 1px solid #fff;   
    cursor: pointer;
}

select option{
    text-align: start;
}

.increment-priority{
    padding: 0px 5px;
    background: #ffffff96;
    border: 1px solid #fff;
    border-radius: 15px;
    color: #55b0c6;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: auto;
    font-size: 13px;
    display: grid;
    align-content: center;
  }
  
  .decrement-priority{
    padding: 0px 5px;
    background: #ffffff96;
    border: 1px solid #fff;
    border-radius: 15px;
    color: #55b0c6;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: auto;
    font-size: 13px;
    display: grid;
    align-content: center;
  }
  
  .increment-priority:hover, .decrement-priority:hover{
    cursor: pointer;
    border-color: #55b0c6;
  }

/*chat*/

#add-message{
    display: grid;
    grid-template-areas: "mensagem enviar";
    grid-template-columns: 1fr auto;
    padding-left: 80px;
    padding-right: 40px;
    padding-bottom: 30px;
}

#message-text{
    grid-area: mensagem;
    padding: 8px;
    font-size: 14px;
    border: 2px solid #55afc688;
    border-radius: 15px;
    width: 100%;
    box-sizing: border-box;
}

#message-text:focus{
    border-color: #55afc6c6; /*verificar porquê que não funciona*/
}
#send-message{
    grid-area: enviar;
    padding: 10px 20px; 
    font-size: 10px;
    cursor: pointer;
    backdrop-filter: blur(15px);
    position: relative;
    background: #55afc688;
    border: 2px solid #fff;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    color: #fff;
}
#send-message:hover {
    border-color: #55afc688;
    color: #55b0c6; 
}

#messages{
    padding-left: 80px;
    padding-right: 110px;
    padding-bottom: 30px;
}

.message{
    display: grid;
    grid-template-areas: 
    "content content"
    "nome data";
    grid-template-columns: 1fr auto;
    background-color: #55afc688;
    color: #fff;

    padding: 8px;
    font-size: 14px;
    border: 2px solid #9dd5e370;
    border-radius: 15px;
    width: 100%;
    box-sizing: border-box;
    margin: 10px;
}

.message h2{ /*pode-se trocar a fonte deste texto para ficar mais bonito*/
    grid-area: nome;
    font-size: 15px;
    justify-self: end;
    padding-right: 2%;
}

.message h4{ /*pode-se trocar a fonte deste texto para ficar mais bonito*/
    grid-area: data;
    font-size: 10px;
    justify-self: flex-end;
    align-self: end;
}

.message p{ /*pode-se trocar a fonte deste texto para ficar mais bonito*/
    font-size: 30px;
    grid-area: content;
}

/*botões para ver histórico do ticket, drawNavigationButtons*/

#hist-ticket{
    display:flex;
    justify-content: center;
}

#hist-ticket form{
    display: flex;
    padding: 20%;

}

#prev-button, #next-button{
    background-color: transparent;
    font-size: 20px;
    border: 2px solid #8281814a;
    border-radius: 5px;
    margin-left: 7px;
    margin-right: 7px;
    padding-left: 4px;
    padding-right: 4px;
}

.edit{
    display: flex;
    color: #fff;
}


/**botões para o colocar o ticket nas faqs, drawTicketFaq/

