
/*dentro da página view_ticket*/

#add-message{
    display: grid;
    grid-template-areas: "mensagem enviar";
    grid-template-columns: 1fr auto;
    padding-left: 80px;
    padding-right: 40px;
    padding-bottom: 30px;
}

#message-text{
    grid-area: mensagem;
    padding: 8px;
    font-size: 14px;
    border: 2px solid #55afc688;
    border-radius: 15px;
    width: 100%;
    box-sizing: border-box;
}

#message-text:focus{
    border-color: #55afc6c6; /*verificar porquê que não funciona*/
}
#send-message{
    grid-area: enviar;
    padding: 10px 20px; 
    font-size: 10px;
    cursor: pointer;
    backdrop-filter: blur(15px);
    position: relative;
    background: #55afc688;
    border: 2px solid #fff;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    color: #fff;
}
#send-message:hover {
    border-color: #55afc688;
    color: #55b0c6; 
}

#messages{
    padding-left: 80px;
    padding-right: 110px;
    padding-bottom: 30px;
}

.message{
    display: grid;
    grid-template-areas: 
    "content content"
    "nome data";
    grid-template-columns: 1fr auto;
    background-color: #55afc688;
    color: #fff;

    padding: 8px;
    font-size: 14px;
    border: 2px solid #9dd5e370;
    border-radius: 15px;
    width: 100%;
    box-sizing: border-box;
    margin: 10px;
}

.message h2{ /*pode-se trocar a fonte deste texto para ficar mais bonito*/
    grid-area: nome;
    font-size: 15px;
    justify-self: end;
    padding-right: 2%;
}

.message h4{ /*pode-se trocar a fonte deste texto para ficar mais bonito*/
    grid-area: data;
    font-size: 10px;
    justify-self: flex-end;
    align-self: end;
}

.message p{ /*pode-se trocar a fonte deste texto para ficar mais bonito*/
    font-size: 30px;
    grid-area: content;
}

/*botões para ver histórico do ticket, drawNavigationButtons*/

#hist-ticket{
    display:flex;
    justify-content: center;
    padding-top: 4%;
}

#hist-ticket form{
    display: flex;
}

#prev-button, #next-button{
    background-color: transparent;
    font-size: 20px;
    border: 2px solid #8281814a;
    border-radius: 5px;
    margin-left: 7px;
    margin-right: 7px;
    padding-left: 4px;
    padding-right: 4px;
}

#edit{
    display: flex;
    color: #fff;
}