@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
}
body{
  background: url('background6.jpg')no-repeat;
  background-position: center;
  background-size:auto;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
  font-size: 5em;
  color: #fff;
  text-align: center;
  padding-bottom: 0.50em;
  padding-top: 0.40em
}
h2{
    font-size: 2em;
    color: #fff;
    text-align: center;
}

/*Para os botões */
.admin-button, .agent-button, .client-button {
    position: relative;
    text-align: center;
    width: relative;
    background-color: transparent;
    color: white;
    backdrop-filter: blur(90px);
    padding: 9px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    justify-content: center;
    border-radius: 30px;
    border: none;
    outline: none;
    cursor: pointer;
    display: none;
}

.buttons {
    display: flex;
}

/* Estilos para o footer */

footer {
  padding: 20px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position:fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
}

