@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
}
body{
  /*background: url('background6.jpg')no-repeat;*/
  background-color: rgba(142, 142, 142, 0.8);
  background-position: center;
  background-size: auto;
}

.header {
  /*background-image: linear-gradient(to bottom, aquamarine, rgba(0,0,0,0.2));*/
  background-color: rgba(0, 0, 0, 0);
  height: 150px;
  text-align: center;
  color: #fff;
  padding-top: 1.5em;
  display: grid;
}

h1{
  left: 0;
  display: grid;
  position: fixed;
  font-size: 4em; 
  line-height: 100px;  
  color: #fff;
  padding-bottom: 0.3em;
  padding-top: 0.2em;
  padding-left: 0.3em;

}

section{
    display: grid;
    justify-content: center;
    align-items: center;
}

h2{
  font-size: 2em;
  color: #fff;
  text-align: center;
}

.form-box-login{
    display: grid;
    position: relative;
    width: 300px;
    height: 340px;
    background: transparent;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 15px;
    backdrop-filter: blur(15px);
    justify-content: center;
    align-items: center;
}
.form-box-signup{
  display: none;
  position: relative;
  width: 300px;
  height: 450px;
  background: transparent;
  border: 2px solid rgba(255,255,255,0.5);
  border-radius: 15px;
  backdrop-filter: blur(15px);
  justify-content: center;
  align-items: center;
}

.logout-box{
  display: none;
  position:fixed;
  padding: 0.5%;
  top: 0;
  right: 0;
  color: #fff;
  background: transparent;
  border: 2px solid rgba(255,255,255,0.5);
  border-radius: 15px;
  backdrop-filter: blur(15px);
  justify-content: center;
  margin: 2%;
}



.logout-box:hover{
  border-color: #fff;
}





@keyframes slideInLeft {
  from {
    transform: translateX(-100vw);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slideOutLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100vw);
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slideOutRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100vw);
  }
}

@keyframes slideOutLoginToLogout {
  from {
    transform: translateX(0) translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-50vw);
    opacity: 0;
  }
}

@keyframes slideInLogout {
  from {
    transform: translateY(-30vw);
    opacity: 0;
    
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInButtons {
  from {
    transform: translateY(100vw);
    opacity: 0;
    
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideOutButtons {
  from {
    transform: translateY(0vw);
    opacity: 1;
    
  }
  to {
    transform: translateY(100vw);
    opacity: 0;
  }
}

.slideInLeft {
  animation-name: slideInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

.slideInRight {
  animation-name: slideInRight;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

.slideOutLoginToLogout{
animation-name: slideOutLoginToLogout;
animation-timing-function: ease-in-out;
animation-fill-mode: forwards;
}

.slideInLogout{
animation-name: slideInLogout;
animation-duration: 2s;
animation-timing-function: ease-in-out;
animation-fill-mode: forwards;
}

.slideInButtons{
  animation-name: slideInButtons;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}

.slideOutButtons{
  animation-name: slideOutButtons;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}

.inputbox{
    position: relative;
    margin: 23px 0;
    width: 233px;
    border-bottom: 2px solid #fff;
}
.inputbox label{
    position: absolute;
    top: 50%;
    left: 4px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 0.75em;
    pointer-events: none;
    transition: .4s;
}
input:focus ~ label,
input:valid ~ label{
top: -4px;
}
.inputbox input {
    width: 100%;
    height: 38px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 0.75em;
    padding:0 27px 0 4px;
    color: #fff;
}
.inputbox ion-icon{
    position: absolute;
    right: 6px;
    color: #fff;
    font-size: 1em;
    top: 15px;
}

.submit-login {
  width: 100%;
  height: 30px;
  border: 2px solid #fff;
  border-radius: 30px;
  backdrop-filter: blur(15px);
  background: transparent;
  font-size: 0.75em;
  font-weight: 450;
  cursor: pointer;
  color:#fff;
}


.submit-login:hover {
  border-color: rgba(255,255,255,0.5);
  color: rgba(255,255,255,0.5); 
}

.submit-signup {
  width: 100%;
  height: 30px;
  border: 2px solid #fff;
  border-radius: 30px;
  backdrop-filter: blur(15px);
  background: transparent;
  font-size: 0.75em;
  font-weight: 450;
  cursor:pointer;
  color:#fff;
}

.submit-signup:hover {
  border-color: rgba(255,255,255,0.5);
  color: rgba(255,255,255,0.5); 
}

.Reg-forget,.Enter{
  margin: -11px 0 11px;
  font-size: 0.75em;
  display: flex;
  color: #fff;
  justify-content: space-between;
  align-items: center;
  margin: 0.5%;
  bottom: 0;
  width: 100%;
}
.Reg-forget p {
  margin: 0; 
}

.forget{
  margin-left: 0.5%;
}

.forget a{
  color: #fff;
  text-decoration: none;
}
.forget a:hover{
  border-color: rgba(255,255,255,0.5);
  color: rgba(255,255,255,0.5); 
  text-decoration: underline;
}

#Register-button{
  margin-right: 0.5%;
}

#Register-button:hover, #login-button:hover {
  color: rgba(255,255,255,0.5);
}



.FAQs{
  /*position: fixed; /*perguntar isto ao professor*/
  position: absolute;
  bottom: 0;
  right: 0;
  display: grid;
  align-items: center;
  justify-content: flex-end;
  margin: 7%;
  margin-right: 14%;
  margin-left: auto;
  color: #fff;
}

.FAQs:hover{
  color: rgba(255,255,255,0.5);
}

#Faqs-icon{
  position: relative;
  font-size: 4em;
  right: 10px;
}


.menu:hover{
  transition: 350ms cubic-bezier(1, 0.49, 0.09, 1.29);
}
.admin-button:hover, .agent-button:hover, .client-button:hover {
  transition: 200ms cubic-bezier(1, 0.49, 0.09, 1.29);
  background-color: #fff;
  color: grey;
  border: 2px solid *rgba(255, 255, 255, 0.5);
  border-radius: 30px;
  backdrop-filter: blur(90px);
  padding: 10px; /* Adiciona um padding ao elemento hovers */

}

.menu{
  font-size: 0.93em;
  display: none;
  position: relative;
  bottom: 0;
  width: auto;
  height: auto;
  border: 2px solid #fff/*rgba(255, 255, 255, 0.5)*/;
  border-radius: 30px;
  backdrop-filter: blur(90px);
  background-color: transparent;
  justify-content: space-around;
  align-items: center;
  left: 0;
  right: 0;
}

ion-icon,.client-button p, .agent-button p, .admin-button p{
  justify-self: center;
}


.admin-button, .agent-button, .client-button {
  display: none; /* depende da animação*/
  position: relative;
  width: auto;
  height: 90px;
  background-color: transparent;
  color: white;
  cursor: pointer;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8px;
  padding-bottom: 8px;

}



footer {
  position:absolute; /*perguntar ao professor*/
  background-color: transparent;
  display: grid;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
}


/*
@keyframes expand {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.expand{
  animation-name: expand;
  animation-duration: 2s;
  animation-timing-function: ease-out;
}

@keyframes expand {
  0% {
  opacity: 0;
  transform: scale(0);
}
50% {
  opacity: 1;
  transform: scale(1.2);
}
100% {
  opacity: 0;
  transform: scale(1);
}
}

@keyframes expand-out {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0);
  }
}

.expand-out{
  animation-name: expand-out;
  animation-duration: 2s;
  animation-timing-function: ease-in;
}
*/
/* ainda a implementar
.before-menu {
  display: none;
  position: relative;
  bottom: 0;
  width: 100px;
  height:90px;
  border: 2px solid rgba(255,255,255,0.5);
  border-radius: 60px;
  background-color: white;
  transition: 0.5s;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  justify-content: center;
  left: 0;
  right: 0;
  margin: auto;
}
*/